<div class="card">
  <div class="card-header">
    <h1><%= __('create_user') %></h1>
  </div>
  <form method="POST" action="/admin/users/create">
      <div class="card-body">
      <div class="mb-3">
        <label for="username" class="form-label"><%= __('username') %></label>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"><%= __('password') %></label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password_confirm" class="form-label"><%= __('password_confirm') %></label>
        <input type="password" id="password_confirm" name="password_confirm" class="form-control" required>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><%= __('save') %></button>
      <a href="/admin/users" class="btn btn-danger"><%= __('cancel') %></a>
    </div>
  </form>
</div>
