<h1 class="text-center mt-5"><%= __('welcome_admin') %></h1>

<div class="container px-4 text-center mt-5">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/admin/users"><%= __('users') %></a></h5>
            <p class="card-text">
              <%= users %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/admin/banners"><%= __('banners') %></a></h5>
            <p class="card-text">
                <%= banners %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/admin/encuestas"><%= __('surveys') %></a></h5>
            <p class="card-text">
                <%= encuestas %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/admin/brands"><%= __('brand') %></a></h5>
            <p class="card-text">
              <%= brand %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
