<div class="card">
  <div class="card-header">
    <h1><%= __('edit_survey') %></h1>
  </div>
  <form method="POST" action="/admin/encuestas/update/<%= encuesta.id %>?_method=PUT">
    <div class="card-body">

      <div class="mb-3">
        <label for="titulo" class="form-label"><%= __('title') %></label>
        <input type="text" id="titulo" name="titulo" class="form-control" value="<%= encuesta.titulo %>" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label"><%= __('description') %></label>
        <textarea name="descripcion" id="descripcion" class="form-control" required rows="3"><%= encuesta.descripcion %></textarea>
      </div>
      <div class="mb-3">
        <label for="codigo" class="form-label"><%= __('survey_monkey_code') %></label>
        <textarea name="codigo" id="codigo" class="form-control" required rows="3"><%= encuesta.codigo %></textarea>
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label"><%= __('author') %></label>
        <select id="userId" name="userId" class="form-control" required>
          <% users.forEach(user => { %>
            <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
          </select>
        </div>
      </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><%= __('update') %></button>
      <a href="/admin/encuestas" class="btn btn-danger"><%= __('cancel') %></a>
    </div>
  </form>
</div>


