<div class="card">
  <div class="card-header">
    <h1>Editar Encuesta</h1>
  </div>
  <form method="POST" action="/admin/encuestas/update/<%= encuesta.id %>?_method=PUT">
    <div class="card-body">

      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" id="titulo" name="titulo" class="form-control" value="<%= encuesta.titulo %>" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea name="descripcion" id="descripcion" class="form-control" required rows="3"><%= encuesta.descripcion %></textarea>
      </div>
      <div class="mb-3">
        <label for="codigo" class="form-label">Código</label>
        <textarea name="codigo" id="codigo" class="form-control" required rows="3"><%= encuesta.codigo %></textarea>
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label">Autor</label>
        <select id="userId" name="userId" class="form-control" required>
          <% users.forEach(user => { %>
            <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
          </select>
        </div>
      </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">Actualizar</button>
      <a href="/admin/encuestas" class="btn btn-danger">Cancelar</a>
    </div>
  </form>
</div>


